<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/all.css">

    </head>
    <body>
        <div class="container-fluid">
         <div class="header">
             <div class="banner container-fluid">
                <div class="logo">

                </div>
                <div class="banner-img">

                </div>
             </div>
            <div class="navigation-container border-top border-bottom my-2">
                    <ul class="nav container">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/article/create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div> 
               <div class="content">
        
            