<% include partials/header.ejs %>
    <div class="container-fluid">
        <h2>News</h2>
        <div class="articles">
            <% articles.forEach(article => { %>
                <a href="/<%= article.ID %>"><h3 class="article-header"><%= article.title %></h3></a>
                <p class="text-muted font-italic">Written by <%= article.username %> on <%= article.updated_at %></p>
                <p class="article-text"><%= article.content %></p>
            <% }); %>
        </div>
    </div>
<% include partials/footer.ejs %>