<% include ../partials/header.ejs %>
    <div class="container-fluid">
        <h2>News</h2>
        <div class="articles container-fluid">
            <% articles.forEach(article => { %>
                <img src="/img/article_image/<%= article.image %>" alt="article_image">
                <a href="/article/<%= article.ID %>"><h3 class="article-header"><%= article.title %></h3></a>
                <p class="text-muted font-italic">Written by <%= article.username %> on <%= moment(article.updated_at).fromNow() %></p>
                <p ><%= article.content %></p>
                <form action="/article/<%= article.ID %>?_method=DELETE" method="POST">
                    <button type="sumbit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                        </button>  
                        <a href="/article/" class="btn btn-dark">Back</a>
                </form>
            <% }); %>
    </div>
<% include ../partials/footer.ejs %>