<% include ../partials/header.ejs %>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="container">
        <div class="form-group">
          <label for="article_title">Article heading</label>
          <input type="text" class="form-control" id="article_title" name="article_title" placeholder="Article title goes here...">
        </div>
        <div class="form-group">
          <label for="article_content">Article body</label>
          <textarea class="form-control" id="article_content" name="article_content" placeholder="The story goes like this..." rows=20></textarea>
        </div>
        <div class="form-group">
                <label for="article_image">Article image</label>
                <input type="file" class="form-control" id="article_image" name="article_image" accept="image/*" placeholder="image.png">
              </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<% include ../partials/footer.ejs %>