<% include ../partials/header.ejs %>
    <div class="articles-container container">
            <div>
                    <a href="article/create" class="btn btn-success mb-4">Add new article</a>
                </div>
        <div class="card-columns">
            <% articles.forEach(article => { %>
                <div class="card">
                    <img class="card-img-top" src="/img/article_image/<%= article.image %>" alt="Card image cap">
                    <div class="card-body">
                            <a href="/article/<%= article.ID %>"><h5 class="card-title"><%= article.title %></h5></a>
                        <p class="card-text"><small class="text-muted">Written by <%= article.username %> on <%= moment(article.updated_at).calendar() %></small></p>
                        <a href="/article/<%= article.ID%>" class="btn btn-primary">View More</a>
                    </div>
                </div>
                
            <% }); %>
        </div>    
    </div>
<% include ../partials/footer.ejs %>